.loader {
    display: inline-block;
    width: 80px;
    height: 80px;
    border: 6px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    border-top-color: #3498db;
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes spin {
    0% { 
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg); 
    }
    100% { 
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg); 
    }
}